node_modules
out
dist
*.tgz
coverage
*.lcov
logs
*.log
.env
.env.*.local
.env.local
.envrc
.dev.vars
.eslintcache
.cache
*.tsbuildinfo
.idea
.DS_Store
*.gen.ts
.wrangler
styled-system
worker-configuration.d.ts
*storybook.log
storybook-static
